/*
https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=folder,settings,text_snippet
*/

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/l/font?kit=kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsL7FbI6em_iqsQuXKM8m8oSR__NwHqzV0Q3d8TIpAIlBoOq&skey=b8dc2088854b122f&v=v314) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 80px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "main";
  font-style: normal;
  src: url(/font.otf);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  width: 90vw;
  height: 90vh;
  border: solid 5px;
  border-radius: 10px;
  border-color: var(--color);
  font-family: "main";
  color: var(--color);
  position: fixed;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
} #nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
} #nav-inner {
  width: 90%;
  color: var(--color);
  text-align: center;
  font-size: 20px;
  border: solid 5px; border-color: var(--color);
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}

#files-container {
  overflow-y: scroll;
}
#files {
  margin: 5vh;
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
} .file {
  margin: 10px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#theme {
  position: absolute;
  bottom: 0px;
  background-color: var(--background);
} #theme-btn {
  border-top: solid 5px;
  border-right: solid 5px;
  border-top-right-radius: 10px;
  width: fit-content;
} #theme-btn:hover, .theme-icon:hover {
  cursor: pointer;
} .theme-icon {
  width: 5vw;
  height: 5vw;
  border: solid 0.5vw;
  border-radius: 1vw;
  margin: 2.5vw;
} #theme-selector {
  border: solid 5px;
  border-left: none;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
} .pressed {
  background-color: var(--hover);
}