/*
https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=brush,captive_portal,contract,folder,image,planet,settings,text_snippet,undo
*/

:root {
  --icon-size: 80px;
  --btn-border: 5px;
  --out-of-flow-bow: calc(var(--icon-size) + var(--btn-border));
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/l/font?kit=kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsL7EbI5fGngqMogWKQ_htYOQ_jG3gKFxXl58aaY4PE97G2rwrvwhKyhlJMeH4FNtDE&skey=b8dc2088854b122f&v=v314) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: var(--icon-size);
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* -moz-font-feature-settings: 'liga'; */
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "main";
  font-style: normal;
  src: url(/font.otf);
} @font-face {
  font-family: "rich";
  font-style: normal;
  src: url(/text.ttf);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

#main {
  width: 90vw;
  height: 90vh;
  border: solid 5px;
  border-radius: 10px;
  border-color: var(--color);
  font-family: "main";
  color: var(--color);
  position: fixed;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} #nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} #nav-inner {
  width: 90%;
  color: var(--color);
  text-align: center;
  font-size: 20px;
  border: solid 5px; border-color: var(--color);
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}

#main-container {
  overflow-y: scroll;
}

#buttons {
  height: fit-content;
  display: flex;
  justify-content:space-between;
  border-top: solid var(--color) var(--btn-border);
} #buttons > div {
  display: flex;
  align-items: center;
}

#files {
  margin: 5vh;
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
} .file {
  margin: 10px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#theme-btn {
  width: fit-content;
} .material-symbols-outlined:hover, .theme-icon:hover {
  cursor: pointer;
} .theme-icon {
  width: 5vw;
  height: 5vw;
  border: solid 0.5vw var(--color);
  border-radius: 1vw;
  margin: 2.5vw;
} #theme-selector {
  border: solid var(--btn-border);
  border-left: none;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  bottom: var(--out-of-flow-bow);
  background-color: var(--background);
} .pressed {
  background-color: var(--hover);
}

#return {
  width: fit-content;
}

#txt {
  word-wrap: break-word;
  text-align: center;
  margin: 5vh;
  font-family: "rich";
  font-size: 20px;
}

#connect {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: var(--out-of-flow-bow);
  width: 100%;
  padding-bottom: 2vh;
  border-top: solid var(--btn-border);
  background-color: var(--background);
} #connect > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
} #connect > p {
  text-align: center;
} #connect > form > div {
  margin: 1vh;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  display: none;
} input[type=number] {
  -moz-appearance: textfield;
  appearance:textfield;
  border-color: var(--color);
  margin: 1vw;
  text-align: center;
  background-color: var(--background);
  font-family: "main";
  color: var(--color);
} input[type=submit] {
  background-color: var(--background);
  border-color: var(--color);
  color: var(--color);
  font-family: "main";
} input {
  border-radius: 10px;
} input[type=submit]:hover {
  cursor: pointer;
  background-color: var(--hover);
}

#meta-screen {
  z-index: 2;
  position: fixed;
  top: 0; left: 0;
  background-color: var(--background);
  overflow-y: scroll;
} #meta-screen > p {
  margin: 5vh;
  word-break: break-all;
} #meta-screen > div {
  position: absolute;
  bottom: 0; right: 0;
  z-index: 3;
  border-left: solid var(--btn-border); border-top: solid var(--btn-border);
  border-top-left-radius: 10px;
}