@font-face {
    font-family: HeyGorgeous;
    src: url(HeyGorgeous.ttf);
}
body{
    margin-left:0px;
    margin-right:0px;
    background-image: url(joly.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* fix the image in the viewport */
    background-size: cover; /* take the entire space of the bg */
    font-family: HeyGorgeous, Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px gold;
}
.flexbox{
    display:flex;
    justify-content: center;
}

.chest{
    width:150px;
    height: 150px;
    margin: 5vh;
    background-size: cover; 
    transition: background-image 0.5s ease-in-out; 
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#close{
    background-image: url(close.png);
}
#open{
    background-image: url(open.png);
}
#close span{
    animation: disappear 10s forwards;
}
#end{
    animation: disappear 3s 1s forwards;
}
a{
    text-decoration: none;
    color:black;
}

@keyframes disappear{
    100%{opacity: 0;}
}